{template 'common/header'}
<!-- <a href="{php echo $this->createWebUrl('scene_add');}" class="btn btn-primary span3">添加项目</a> -->
<a href="{php echo url('platform/reply/post',array('m'=>'htxy_scene'));}" class="btn btn-primary span3">添加项目</a>

<div class="panel panel-default">
  <div class="panel-heading">我在现场项目列表</div>

  <!-- Table -->
  <table class="table">
    <th>编号</th>
    <th>项目名称</th>
    <th>添加时间</th>
    <th>操作</th>
    	{loop $list $results}
    <tr>
        <td class="with-checkbox">
            <!-- <input type="checkbox" name="ids" id='ids'  value="{$results['id']}"> -->
        	{$results['id']}
        </td>
        <td>{$results['scene_name']}</td>
        
        <td>{$results['create_time']}</td>
        <td>
        	<a class="btn btn-default" href="{php echo url('platform/reply/post',array('m'=>'htxy_scene','rid'=>$results['rid'],'id'=>$results['id']));}" title="编辑"><i class="fa fa-edit"></i>&nbsp;</a>
        	
        	<a class="btn btn-default" href="{php echo $this->createWebUrl('SceneDele',array('id'=>$results['id'],'rid'=>$results['rid']))}" onclick="return confirm('确定删除?')" title="删除" ><i class="fa fa-remove"></i></a>
        	{if $results['is_show']==1}
        	<a class="btn btn-default" href="{php echo $this->createWebUrl('edit_status',array('id'=>$results['id'],'is_show'=>$results['is_show'],'table'=>'scene_pro','url'=>'SenceEdit'))}" onclick="return confirm('确定改变显示状态?')" title="显示" ><i class="glyphicon glyphicon-eye-open"></i></a>
        	{else}
        	<a class="btn btn-default" href="{php echo $this->createWebUrl('edit_status',array('id'=>$results['id'],'is_show'=>$results['is_show'],'table'=>'scene_pro','url'=>'SenceEdit'))}" onclick="return confirm('确定改变显示状态?')" title="不显示" ><i class="glyphicon glyphicon-eye-close"></i></a>
        	{/if}
        </td>
    </tr>

		{/loop}
  </table>
  {$pager}

</div>
{template 'common/footer'}
