{template 'common/header'}

 <div class="panel panel-default">
  <form action="{php echo $_W['siteurl']}" method="post" class="form-horizontal form" id="ff">

    <div class="panel-heading">
          详情设置
    <a href="{php echo $this->createWebUrl('scene_add');}" class="btn btn-primary span3" style="float:right;">添加项目</a>

    </div>
    <div class="panel-body">
      <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">详情标题</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="scene_name" id="inputEmail3" placeholder="栏目标题不超过20个字" value="{$articles['scene_name']}">
      </div>
    </div>
   <!-- 项目logo -->
   <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">项目logo</label>
            <div class="col-sm-9 col-xs-12">
                {php echo tpl_form_field_image('scene_logo',$articles['scene_logo']);}
            </div>
        </div>
  <!-- 栏目内容 -->                         

  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">栏目内容</label>
    <div class="col-sm-10">
      {php echo tpl_ueditor('scene_cont',$articles["scene_cont"]);}

    </div>
  </div>
  <!-- 活动时间 -->
  <div class="form-group">
    <div class="form-group" >
      <label for="inputPassword3" class="col-sm-2 control-label">活动时间</label>
      <div class="col-sm-10">
        {php echo tpl_form_field_daterange('active', array('start'=>$articles['active_start'],'end'=>$articles['active_end']), true);} <br/>
        不填写则表示没有时间限制
      </div>
    </div>
  </div>
   <!-- 是否显示 -->
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">是否显示</label>

    <div class="col-sm-10">
      <label>
          <input value="1" name="is_show" type="radio" {if $articles['is_show']==1} checked="checked"{/if}> 是
        </label>
       <label>
          <input value="0" name="is_show" type="radio" {if $articles['is_show']==0} checked="checked"{/if}> 否
        </label>
    </div>
  </div> 
  <div class="form-group">
      <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">背景音乐</label>
      <div class="col-md-6">
        {php echo tpl_form_field_audio('back_music',$articles['back_music']);}
      </div>
  </div> 
       <input type="hidden" value="{$articles['id']}" name="id">
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        分享设置
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">分享标题</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" id="share_title" class="form-control" placeholder="标题不超过30个字" name="share_title" value="{$articles['share_title']}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">分享的图片</label>
            <div class="col-sm-9 col-xs-12">
                {php echo tpl_form_field_image('share_pic',$articles['share_pic']);}
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">分享描述</label>
            <div class="col-sm-9 col-xs-12">
                <textarea style="height:60px;" id='share_desc' name="share_desc" class="form-control" cols="60">{$articles['share_desc']}</textarea>
            </div>
        </div>

       <div class="form-group">
          <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
          <div class="col-sm-9 col-xs-12">
            <input name="submit" type="submit" value="提交" class="btn btn-primary span3" />
            <input type="hidden" name="token" value="{$_W['token']}" />
          </div>

        </div>
    </div>

</div>
  </form>
</div>
<script type="text/javascript">
// 打开页面自动加载的
// 富文本编辑器
$(function(){
    ueditor = UE.getEditor('scene_cont');
    // ueditor.setContent(content);
    
});


</script>
{template 'common/footer'}



